@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  background-image: url("http://getwallpapers.com/wallpaper/full/0/8/a/936884-pokemon-white-wallpaper-1920x1080-for-ios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Audiowide", cursive, "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
ul {
  padding-inline-start: 0px;
  list-style-type: none;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: yellow;
}
a:active {
  color: blue;
}

h1 {
  font-size: 66px;
  word-spacing: 5px;
  text-shadow: 5px 6px white;
}

/* h1.blinker {
  animation: blinker 1s linear infinite;
} */

@keyframes blinker {
  30% {
    opacity: 0;
  }
}

.info {
  display: grid;
  justify-items: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 100px;
}

#left {
  background-image: url("/images/light-honeycomb.png");
  border: 2px solid black;
  padding: 0 20px;
  display: grid;
  justify-items: center;
  align-content: center;
  border-radius: 10px;
  box-shadow: 10px 10px 50px black, inset 0px 0px 2px 2px black;
}

#center {
  display: grid;
  justify-items: center;
  grid-auto-flow: row;
  background-image: url("/images/dark-honeycomb.png");
  border: 2px solid black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 50px black, inset 0px 0px 2px 2px black;
  padding: 0px 20px;
}
#img-wrapper {
  display: grid;
  justify-content: center;
}
#Pikachu {
  size: auto;
  margin-top: 35%;
}

#navbars {
  display: grid;
  grid-template-rows: 0fr;
  grid-auto-flow: column;
}

#navbar {
  display: grid;
  align-content: center;
  align-items: center;
}

#pokeball1 {
  display: flex;
  justify-content: flex-end;
}
#pokeball2 {
  display: flex;
  justify-content: flex-start;
}
#Ball {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

#Ball2 {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.results {
  display: grid;
  justify-items: center;
  width: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.result {
  display: grid;
  place-items: center;
  background-image: url("/images/dark-honeycomb.png");
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 50px black, inset 0px 0px 2px 2px black;
  width: 207.8px;
  height: 236px;
}
.spriter {
  width: 200px;
}
.move-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  background-image: url("/images/dark-honeycomb.png");
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px black, inset 0px 0px 5px 5px black;
}

.name-results {
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  justify-content: center;
}

.name-result {
  width: fit-content;
  background-image: url("/images/light-honeycomb.png");
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px black, inset 0px 0px 5px 5px black;
}

.moveset-text {
  background-image: url("/images/light-honeycomb.png");
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px black, inset 0px 0px 5px 5px black;
}

.poke-center {
  display: grid;
  justify-items: center;
}

.spritez {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
}

input[type="search"] {
  padding: 0.7em 1.3em;
  border: 1px solid lightgrey;
  border-radius: 2em;
  text-align: center;
  font-family: "Audiowide";
  font-size: 1em;
  width: auto;
}
input[type="search"]:focus {
  border-color: grey;
  outline: none;
}
input[type="search"]:hover {
  border-color: grey;
  outline: none;
}

@media only screen and (max-width: 800px) {
  body {
    background-image: none;
    background-color: #c42725
  }
  .info {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: none;
  }
  h1 {
    font-size: 1.5em;
    word-spacing: 1px;
    text-shadow: 1px 1px white;
  }
  #Ball {
    width: 3em;
  }
  #Ball2 {
    width: 3em;
  }
  .results {
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-gap: 10px;
  }

  .result {
    display: grid;
    place-items: center;
    background-image: url("/images/dark-honeycomb.png");
    border: 1px solid black;
    width: 100px;
    height: 125px;
    font-size: 0.7em;
    box-shadow: 5px 5px 15px black, inset 0px 0px 2px 2px black;
  }
  .spriter {
    width: 90px;
  }
}


@media only screen and (max-width: 600px) {
  body {
    background-image: url("https://wallpapercave.com/wp/wp2113320.jpg");
    background-repeat: no-repeat;
    background-size: none;
    background-attachment: fixed;
  }
  h1 {
    font-size: 1.5em;
    word-spacing: 1px;
    text-shadow: 1px 1px white;
  }
  #Ball {
    width: 3em;
  }
  #Ball2 {
    width: 3em;
  }
  .results {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 10px;
  }

  .result {
    display: grid;
    place-items: center;
    background-image: url("/images/dark-honeycomb.png");
    border: 1px solid black;
    width: 100px;
    height: 125px;
    font-size: 0.7em;
    box-shadow: 5px 5px 15px black, inset 0px 0px 2px 2px black;
  }
  .spriter {
    width: 90px;
  }
}

