@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body{
  background-image: url("http://getwallpapers.com/wallpaper/full/0/8/a/936884-pokemon-white-wallpaper-1920x1080-for-ios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Audiowide', cursive, 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
ul {
  list-style-type: none;
}

a:link {
  color: red;
}
a:visited {
  color: white;
}
a:hover {
  color: yellow;
}
a:active {
  color: blue;
}

h1 {
   font-size: 66px;
   word-spacing: 5px;
   text-shadow: 5px 6px white;
   animation: blinker 1s linear infinite;
}

@keyframes blinker {
  30% {
    opacity: 0;
  }
}

.info {
  display: grid;
  justify-items: auto;
  grid-auto-flow: column;
}

#left{
  background-image: url(light-honeycomb.png);
  border: 3px solid black;
  padding: 0 20px;
  display: grid;
  justify-items: center;
  align-content: center;
  width: 300px;
}

#center {
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
    background-image: url('dark-honeycomb.png');
    border: 3px solid white;
    width: 40rem;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:white;
}


#Pikachu {
  position: relative;
  margin-left: 80%;
  margin-top: 10;
}

#navbars{
  display: grid;
  grid-template-rows: 0fr;
  grid-auto-flow: column;
}

#navbar{
  display: grid;
  align-content: center;
  align-items: center;
}

#pokeball1 {
  display: flex;
  justify-content: flex-end;
}
#pokeball2 {
  display: flex;
  justify-content: flex-start;
}
#Ball{
  -webkit-animation: spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}


#Ball2{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
